body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.containt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.di-logo{
    max-width: 31%;
    position: relative;
    top: 19px;
}
.paras{
    width: 80%;
    text-align: center;
}
.paras p{
text-transform: uppercase;
font-size: 25px;
}
.ijtm-tm{
font-size: 13px;
}
.wrapper{
    background-color: rgb(49, 31, 31);
    padding: 0px 20px 14px 20px;
}
.wrapper form{
    display: flex;
    flex-direction: column;
}
.form-head{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.wrapper form img{
    max-width: 27px;
    margin-left: -50px;
}
.wrapper form input{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 15px;
    margin: 0px 4px 25px 0px;
}
.wrapper form input::placeholder{
    color: white;
}
.wrapper form p{
    color: white;
    font-size: 20px;
    margin-right: 65px;
    text-transform: uppercase;
}
#invitaion{
    margin-bottom: 25px;
    outline: none;
}
.inst-app{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.inst-app a{
    color: #26a2d6;
    margin-left: 4px;
}
button{
    background: #26a9e0;
    border: none;
    color: white;
    height: 26px;
    border-radius: 5px;
}