body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.paras p{
text-transform: uppercase;
}
.wrapper form{
    display: flex;
    flex-direction: column;
}